*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
myapplication/build/generated/data_binding_base_class_source_out/debug/out/com/example/myapplication/databinding/ActivityMainBinding.java
